<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Users</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
<!--          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--</head>-->

<!--<body  style="background-color: #D1D0CE">-->

<!--<nav class="navbar navbar-expand-lg" style="background-color: #307D7E">-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--&lt;!&ndash;        <ul class="navbar-nav mr-auto">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="/faculty/all" class="btn btn-outline-light">Faculties</a> &nbsp;&nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="/faculty/save" class="btn btn-success">Save Faculty</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->

<!--        <div class="d-flex justify-content-center">-->
<!--            <div class="d-flex justify-content-center">-->
<!--                <a href="/index" class="btn btn-primary">Home</a>-->
<!--            </div>-->
<!--        </div>-->

<!--&lt;!&ndash;        <ul class="navbar-nav ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item ">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="/contact" class="btn btn-outline-light">Contact</a>&nbsp;&nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;            <li class="nav-item ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="/logout" class="btn btn-dark">Logout</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </li>&ndash;&gt;-->
<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--    </div>-->
<!--</nav>-->

<!--<div th:switch="${contactDetails}">-->
<!--    <table class="table table-striped">-->
<!--        <thead>-->
<!--        <tr align="center">-->
<!--            <th scope="col">Id</th>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Email</th>-->
<!--            <th scope="col">Phone Number</th>-->
<!--            <th scope="col">Address</th>-->

<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr th:each="contactDetails : ${contactDetails}" align="center">-->
<!--            <td th:text="${contactDetails.id}"></td>-->
<!--            <td th:text="${contactDetails.username}"></td>-->
<!--            <td th:text="${contactDetails.email}"></td>-->
<!--            <td th:text="${contactDetails.phoneNumber}"></td>-->
<!--            <td th:text="${contactDetails.address}"></td>-->

<!--&lt;!&ndash;            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{'/contactDetails/update/' + ${contactDetails.id}}" class="btn btn-info" data-toggle="tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:attr="title=Update +'&nbsp;'+'&quot;'+${faculty.username}+'&quot;'">Update</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{'/contactDetails/delete/' + ${contactDetails.id}}" class="btn btn-danger" data-toggle="tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:attr="title=Delete +'&nbsp;'+'&quot;'+${contactDetails.username}+'&quot;'" >Delete</a>&ndash;&gt;-->
<!--&lt;!&ndash;            </td>&ndash;&gt;-->

<!--        </tbody>-->

<!--    </table>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->