<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Faculty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
body {
    background-image :  url(https://i.pinimg.com/564x/6a/8c/e5/6a8ce57a6e78679d7739ef6e716175a9.jpg);
    width:100%
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

</head>

<body>
<nav class="navbar navbar-expand-lg" style="background-color: #307D7E">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="/faculty/all" class="btn btn-outline-light">Faculties</a> &nbsp;&nbsp;
            </li>
        </ul>

            <div class="d-flex justify-content-center">
                <form class="d-inline-flex">
                    <input class="form-control me-2" type="search" placeholder="Search faculties" aria-label="Search">&nbsp;&nbsp;
                    <button class="btn btn-outline-light" type="submit">Search</button>
                    <span class="fas fa-school"></span>
                </form>
            </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a href="/contact" class="btn btn-outline-light">Contact</a>&nbsp;&nbsp;
                </li>
                <li class="nav-item ml-auto">
                    <a href="/logout" class="btn btn-dark">Logout</a>
                </li>
            </ul>
    </div>
</nav>

</body>
</html>